extends layout
block content
  h1= title
  p Welcome to #{title}
    a(href="http://google.com") Yoman
    p= ping
    ul
      li yoyoyoyo
      li.
        multiple
        lines
        yay

    label Input field:
    input(type='text', placeholder='some input').some-class#some-id
    